<h1>Login</h1>
   <%= form_tag '/login' do %>
   <%= label_tag :email_id%>
   <%= email_field_tag :email_id %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>
